In [82]:
import nltk
import re
import pandas as pd
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [83]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [84]:
messages = pd.read_csv('X:\git\smsspamcollection\SMSSpamCollection',sep='\t',names=["label","Message"])

In [85]:
messages.head()

  label                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [86]:
ps = PorterStemmer()
corpus=[]

In [87]:
for i in range(0,len(messages)):
    review = re.sub('[^a-zA-Z]', ' ',messages['Message'][i])
    review = review.lower()
    review = review.split()
    rview = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ''.join(review)
    corpus.append(review)

In [88]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000)
X = cv.fit_transform(corpus).toarray()

In [89]:
print(X)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [90]:
y = pd.get_dummies(messages['label'])

In [91]:
y

      ham  spam
0       1     0
1       1     0
2       0     1
3       1     0
4       1     0
5       0     1
6       1     0
7       1     0
8       0     1
9       0     1
10      1     0
11      0     1
12      0     1
13      1     0
14      1     0
15      0     1
16      1     0
17      1     0
18      1     0
19      0     1
20      1     0
21      1     0
22      1     0
23      1     0
24      1     0
25      1     0
26      1     0
27      1     0
28      1     0
29      1     0
...   ...   ...
5542    1     0
5543    1     0
5544    1     0
5545    1     0
5546    1     0
5547    0     1
5548    1     0
5549    1     0
5550    1     0
5551    1     0
5552    1     0
5553    1     0
5554    1     0
5555    1     0
5556    1     0
5557    1     0
5558    1     0
5559    1     0
5560    1     0
5561    1     0
5562    1     0
5563    1     0
5564    1     0
5565    1     0
5566    0     1
5567    0     1
5568    1     0
5569    1     0
5570    1     0
5571    1     0

[5572 rows x 2 columns]

In [92]:
y= y.iloc[:,1].values

In [93]:
y

array([0, 0, 1, ..., 0, 0, 0], dtype=uint8)

In [94]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.20,random_state = 0)

In [95]:
from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(X_train,y_train)

y_pred = spam_detect_model.predict(X_test)

In [96]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [97]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [98]:
cm

array([[955,   0],
       [156,   4]], dtype=int64)

In [99]:
from sklearn.metrics import  accuracy_score
acc = accuracy_score(y_test,y_pred)
print(acc)

0.8600896860986547

In [100]:
print(acc)

0.8600896860986547